* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.wallpapersden.com/image/download/forest-mountains-sunset-cool-weather-minimalism_am5oZWuUmZqaraWkpJRmbmdlrWZlbWU.jpg");
  background-size: cover;
  background-position: top center;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 30vw;
  margin: auto auto;
  padding: 30px 30px;
  align-items: center;
}

input {
  width: 100%;
  max-width: 250px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

#btn {
  padding: 5px 5px 5px 5px;
  border-radius: 20px 12px 20px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: arrow;
}

#btn:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
#for {
  color: #f4a261;
  font-weight: 800;
  text-align: center;
  padding: 10px auto;
  margin: 10px auto;
  text-shadow: 5px 2px rgba(20, 1, 1, 0.8);
}

.head {
  color: #e63946;
  font-size: 52px;
  font-weight: 780;
  text-align: center;
  padding: 10px auto;
  margin: 10px auto;
  text-shadow: 5px 2px rgba(20, 1, 1, 0.8);
}

#form {
  padding: 10px auto;
  margin: 10px auto;
}

.location .city {
  color: #e0aaff;
  font-family: monospace;
  font-size: 55px;
  font-weight: medium;
  margin-bottom: 25px;
  text-shadow: 5px 2px rgba(20, 1, 1, 0.8);
}

.location .date {
  color: #f1faee;
  font-size: 20px;
  text-shadow: 2px 2px rgba(20, 1, 1, 0.8);
}

.current .temp {
  color: #e9f5db;
  font-size: 92px;
  text-shadow: 5px 5px rgba(20, 1, 1, 0.8);
}
.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #2a9d8f;
  text-shadow: 1px 2px rgba(20, 1, 1, 0.8);
  font-size: 25px;
}

.current .hi-low {
  color: white;
  font-size: 25px;
  text-shadow: 1px 2px rgba(20, 1, 1, 0.8);
}
